@page
@model JessicasLibrary.Pages.Admin.IndexModel
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]

@{
    ViewData["Title"] = "Admin Panel";
}

<h2>@ViewData["Title"]</h2>

<ul class="list-group">
    </li>
    <li class="list-group-item">
        <a asp-page="/Admin/Users">Manage Users</a>
    </li>
    <li class="list-group-item">
        <a asp-page="/Admin/Books/Index">Manage Books</a>
    </li>
</ul>
